body{
    height: 100%;
    width: 100%;
    color: #464646;
    font-size: 14px;
    font-family: Source Sans Pro,sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

#parent{
    /* border: 1px solid red; */
    height: 55px;
    width: 100%;
    box-shadow: 0px 4px 12px 0px #e8e0e0;   /* align-items: left; */
    /* justify-content: end; */
}

.child{
    /* border: 1px solid yellow; */
    height: 55px;
    width: 100%;
    display: flex;
    font-size: 15px;
    /* justify-content: center; */

    
}
.child2{
    /* border: 1px solid green; */
    height: 55px;
    width: 300px;
    display: flex;
    justify-content: end;


}
.child3{
    /* border: 1px solid rgb(241, 3, 209); */
    height: 70px;
    width: 100px;
}
 
.img{
    /* border: 1px solid rgb(255, 0, 0); */
    /* height: 64px;
    width: 220px; */
    margin-top: 1px;
    margin-left: 0px;
    /* background-image: url(./NB.webp); */
    /* background-image: url(https://assets.nobroker.in/static/img/logos/nb_logo_new_trans.svg); */
    background-size: cover;

}
.space{
    /* border: 1px solid blue; */
    height: 55px;
    width: 100%; 
    display: flex;
    justify-content: end;
    margin-left: 100px;
    /* justify-content: space-evenly; */
    
}
.booking{
    border: 1px solid;
    height: 35px;
    width: 150px;
    margin-top: 8px;
    /* margin-left: 10px; */
    cursor: pointer;
    background-color: #ffffff00;
    margin-bottom: 5px;
    display: flex;
   
   
}
.booking2{
    /* border: 1px solid; */
    height: 18px;
    width: 80px;
    padding: 3px 5px 6px 0px;
}
.pay{
    /* border: 1px solid; */
    height: 35px;
    width: 170px;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #ffffff00;
    margin-bottom: 5px;
    display: flex;
}
.pay2{
    /* border: 1px solid; */
    height: 29px;
    width: 70px;
    margin-top: 2px;
    border-right:1px solid #000000 ;
  
    
}


.owners{
    /* border: 1px solid; */
    height: 30px;
    width: 160px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 10px;
    background-color: #009587;
    color: rgb(255, 255, 255);
    padding: 1px 10px 0px 0px;
    text-align: center;

}
.owners:hover{
    background-color: #047764ae;
}
.signup{
    /* border: 1px solid; */
    height: 30px;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 8px;
     border-right:1px solid #000000 ;
}
.signin{
    /* border: 1px solid; */
    height: 30px;;
    width: 80px;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 8px;
    border-right:1px solid #000000 ;
}
.menu{
    /* border: 1px solid; */
    height: 30px;
    width: 80px;
    margin-top: 8px;
    /* text-align: center; */
    margin-bottom: 5px;
    padding-top: 8px;
  

}

#world{
    padding: 30px 20px;
    background-color: #fdfdfd;
}
p{
    /* margin-left: 50px; */
    font-size: 20px;
    text-align: center;
}
.text{
    /* border: 1px solid; */
    height: 60px;
    width: 100%;
    text-align: center;
    margin-top: 0px;   
    font-size: 42px;
    /* margin-left: 400px; */
    justify-content: center;

   
}


.nb2{
    cursor: pointer;
    /* border: 1px solid rgb(0, 255, 30); */
    /* height: 50px; */
    /* width: 400px; */
    padding: 10px 15px;
    border-radius: 3px;
    color: #464646;
    /* background-color: rgba(252,178,68,.2); */
    text-align: center;
    display: flex;
    justify-content: center;
    /* margin-left: 30%;*/

    
}
.nb2-span{
    padding: 5px;
    display: flex;
    background-color: rgba(252,178,68,.2);
}
.nb2-span2{
    margin-top: 10px;
    /* background-color: rgba(252,178,68,.2); */

}

.button{
    border: 1px solid #e4dfdfc3;
    height: 30px;
    width: 387px;
    text-align: center;
    margin-top: 1px;
    margin-left: 435px;
    background-color: #E3DBCD;
}

#newbar{
    /* border: 1px solid; */
    height: 50px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}
.link{
    border: 1px solid #e4dfdfc3;
    height: 25px;
    width: 100px;
   
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #01485280;
    background-color: #fff;
    padding: 10px 10px;
}
.link:hover{
    border-bottom: 3px solid red;
}
#Search{
    /* border: 1px solid; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.pune{
    height: 50px;
    width: 181px;
    /* margin-left: 40px; */
}
.location{
    border: 1px solid #e4dfdfc3;
    height: 50px;
    width: 180px;
    margin-left: 140px;
}
.search1{
    border: 1px solid #e4dfdfc3;
    height: 50px;
    width: 615px;
}
.searchbar{
    height: 50px;
    width: 615px;
}
.searchlogo{
    border: 1px solid #e4dfdfc3;
    height: 50px;
    width: 180px;
    /* text-align: center; */
    color: #ffffff;
    background-color: #fd3752;
}
#Radio{
    /* border: 1px solid; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.radio{
    border: 1px solid #e4dfdfc3;
    height: 50px;
    width: 980px;
    margin-left: 140px;
}

.RD{
    margin-top: 15px;
    margin-left: 50px;

}
.Apartment{
    height: 30px;
    width: 160px;
    margin-left: 40px;

}
.Availability{
    height: 30px;
    width: 160px;
    margin-left: 40px;
}

#Are{
    height: 50px;
    width: 100%;
    /* border: 1px solid; */
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

#post{
    height: 50px;
    width: 100%;
    /* border: 1px solid; */
    /* margin-left: 520px; */
    justify-content: center;
    text-align: center;

}
.post{
    /* border: 1px solid; */
    height: 30px;
    width: 160px;
    margin-top: 10px;
    /* margin-bottom: 0px; */
    /* margin-left: 10px; */
    background-color: #009587;
    color: rgb(255, 255, 255);
    /* padding-top: 5px; */
}
.post:hover{
    background-color: #047764ae;
}